address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.para {
    font-size: 20px;
    text-indent: 50px;
}
.img_top{
    height:280px;
    width:500px;
    padding-right:30px
}
.bgimg2 {
    background-image: url("/images/yoga.jpeg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.retroshadow {
    font-size: 56px;
    text-align: center;
    font-variant: small-caps;
    text-rendering: optimizeLegibility;
    color: gold;
    opacity: 0%;
    letter-spacing: .05em;
}

.table_date {
    border-radius: 25px 25px;
}

.h4home {
    font-size: 30px !important;
    color: #5989CE;
    font-variant: small-caps;
}

.gallery {
    box-shadow: 0px 0px 10px lightgrey;
    border-radius: 20px;
    border-top-width: thick;
    border-top-color: #5989CE;
    ;
}

.h3home {
    color: #5989CE;
    text-transform: capitalize;
    text-align: center;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
    font-family: 'Gentium Basic', serif;
    background-color: #fff;
}

.bgimg1 {
    background-image: url("/images/aum1.png");
    height: auto;
    background-attachment: scroll;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 80%;
}

footer .container-fluid {
    color: #5989CE;
    background: black;
    position: relative;
    bottom: 0;
    width: 100%;
}

.quote {
    display: inline-block;
    vertical-align: middle;
}

.float {
    float: center;
}

.image_class {
    display: inline-block;
    vertical-align: middle;
}

.table_cell {
    width: 350px;
    height: 350px;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid #489DBC;
    text-align: center;
}

.table_cell2 {
    width: 350px;
    height: 350px;
    display: table-cell;
    vertical-align: middle;
    border: 4px solid #5989CE;
    text-align: center;
}

.table_header_group {
    width: 350px;
    height: 350px;
    display: table-header-group;
    background-color: lightgray;
    vertical-align: middle;
    border: 1px solid #5989CE;
    text-align: center;
}

.cell2 {
    width: 350px;
    height: 350px;
    display: table-cell;
    vertical-align: middle;
    border: none;
    text-align: left;
}

.pass_header {
    height: 100px;
    background-color: #b3cde0;
    border-radius: 15px;
}

.pass_header_hot {
    height: 100px;
    background-color: #03396c;
    border-radius: 15px;
}

#carouselButtons {
    right: 0px;
    position: absolute;
    bottom: 0px;
}

.cell3 {
    width: 350px;
    height: 400px;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    text-align: left;
}

.cell4 {
    width: 280px;
    height: 420px;
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    text-align: left;
}

.btn-color {
    background-color: #5989CE;
    color: white;
}

.carousel-control.left {
    background-image: none !important;
}

.carousel-control.right {
    background-image: none !important;
}

.testimo {
    background: url(/images/bg-quote1.png) no-repeat;
    margin: 2em 4em;
    color: #767171;
    border-left: 5px solid #5989CE;
    padding-left: 40px;
    padding-right: 50px;
    text-align: center;
}

.navbar-default {
    color: #fff;
    font-family: 'Gentium Basic', serif;
    background: #fff;
    border: none;
}

.navbar .navbar-nav {
    display: block;
    font-family: 'Gentium Basic', serif;
    font-size: 20px;
    float: left;
    border: none;
}

.navbar-brand {
    padding-bottom: 100px;
}

.navbar .navbar-collapse {
    text-align: center;
    width: 100%;
}

@media (max-width: 991px) {
    #logo1 {
        height: 100px;
        width: auto;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-right .dropdown-menu {
        right: 0;
        left: 0;
        text-align: center;
    }
    .open>.dropdown-menu {
        display: inline;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: inline-block !important;
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
    }
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff!important;
    background-color: #5989CE!important;
}

.dropdown-menu>li.active>a {
    color: #fff!important;
    background-color: #5989CE!important;
}


/*background color when active*/

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #5989CE;
}


/*text color of all items in the navbar*/

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>ul>li>a {
    color: #5989CE;
    background-color: #fff;
    font-size: 18px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: #767171;
}

.navbar-default .navbar-nav>.dropdown .open>a,
.navbar-default .navbar-nav>.dropdown .open>a:focus,
.navbar-default .navbar-nav>| \.dropdown .open>a:hover {
    color: #fff;
    background-color: #767171;
}

.dropdown:hover .dropdown-toggle {
    display: block;
}

.pageheader {
    background-image: url("/images/yoga_heading.jpeg");
    background-repeat: no-repeat;
    padding: 50px 250px;
    color: #fff;
    height: 150px;
}

.breadcrumb {
    background: none;
    font-size: 16px;
}

.btn {
    height: 40px;
    width: 100px;
}

.img-responsive {
    margin: 0 auto;
}

.panel-group .panel-heading {
    border-right: 3px solid;
    border-right-color: #5989CE;
    color: #5989CE;
}

.panel-group .panel-title {
    font-weight: 600;
    font-size: 20px;
}
